PORT=3000
DB_HOST=SEU_HOST_POSTGRES
DB_PORT=5432
DB_NAME=financeiro_db
DB_USER=postgres
DB_PASSWORD=SUA_SENHA
EMAIL_USER=seu-email@gmail.com
EMAIL_PASS=sua-app-password-google
EMAIL_TO=destinatario@gmail.com
